{% include 'header.html' %}
{% include 'navbar.html' %}

<body>
<div class="container mt-5 text-center">

    <h1>Bienvenido a Sigmotoa FC ⚽</h1>
    <p class="lead">Gestione jugadores, estadisticas y analisé diferentes datos de los partidos.</p>

    <img 
        width="300" 
        height="300" 
        src="https://flasmyfxbgswthcpdyqf.supabase.co/storage/v1/object/public/Taller-mult/Main/princi.jpg" 
        alt="Sigmotoa FC ⚽"
        class="mt-3"
    >

</div>
</body>

{% include 'footer.html' %}